
/build
/FlexWork/.metadata

/NetBeanWork/DemoApp/build
/NetBeanWork/DemoApp/dist

/FlexWork/Demo/html-template
/FlexWork/Demo/.settings
/FlexWork/Demo/.actionScriptProperties
/FlexWork/Demo/.flexProperties
/FlexWork/Demo/.project
/FlexWork/FlexGrocer
/FlexWork/.fxpTemp


/JavaWork/.metadata
/JavaWork/Servers

/JavaWork/WeatherDemo
/JavaWork/RemoteSystemsTempFiles
/JavaWork/Demo/.settings
/JavaWork/Demo/.classpath
/JavaWork/Demo/.project
/JavaWork/Demo/bin
/JavaWork/Demo/WebContent/page
/JavaWork/Demo/WebContent/META-INF
/JavaWork/Demo/WebContent/WEB-INF/classes

/apache-tomcat-7.0.52
/gitignore
/BlazeDs
/bat
/NavicatforMySQL

# Package Files #
*.class
*.jar
*.war
*.ear
*.settings
/NetBeanWork/DemoApp/nbproject/private/
/NetBeanWork/DemoApp/build/
/NetBeanWork/DemoApp/dist/