
/build
/FlexWork/.metadata
/FlexWork/Demo/html-template
/FlexWork/Demo/.settings
/FlexWork/Demo/.actionScriptProperties
/FlexWork/Demo/.flexProperties
/FlexWork/Demo/.project

/JavaWork/.metadata

/JavaWork/WeatherDemo

/JavaWork/RemoteSystemsTempFiles
/JavaWork/Demo/.settings
/JavaWork/Demo/.classpath
/JavaWork/Demo/.project
/JavaWork/Demo/bin
/JavaWork/Demo/WebContent/page
/JavaWork/Demo/WebContent/META-INF
/JavaWork/Demo/WebContent/WEB-INF/classes

/apache-tomcat-7.0.52
/gitignore
/BlazeDs
/bat
/NavicatforMySQL

# Package Files #
*.class
*.jar
*.war
*.ear
*.settings
