<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 
		<property name="connection.url"><![CDATA[jdbc:mysql://115.29.226.215:3306/test?characterEncoding=utf8&useUnicode=true]]></property>
		 -->
		<property name="connection.url"><![CDATA[jdbc:mysql://localhost:3306/test?characterEncoding=utf8&useUnicode=true]]></property>
		<property name="connection.username">root</property>
		<property name="connection.password">4589</property>
		<property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="show_sql">true</property>
		<!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup 
        <property name="hbm2ddl.auto">create</property>
        -->
		<mapping resource="hrzhao/beans/AppConfigBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/Event.hbm.xml"/>
		<mapping resource="hrzhao/beans/ReqMessageBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/ConfigBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/UserBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/CustomerBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/ProcessBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/MenuBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/DebugBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/AcountBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/ProductBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/OrdersBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/ComnMsgBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/LocationBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/ReMessageBean.hbm.xml"/>
		<mapping resource="hrzhao/beans/ChargeBean.hbm.xml"/>
		<!-- 
        <property name="hbm2ddl.auto">validate</property>
		<class-cache
			class="org.hibernate.test.legacy.Simple"
			region="Simple"
			usage="read-write"/>
		 -->
	</session-factory>
</hibernate-configuration>